.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 30px;
}

.switch input {
    visibility: hidden;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    border-radius: 50%;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: orangered;
}

.switch input:checked + .slider:before {
    transform: translateX(26px);
}
